/* navbar styling */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

ul.navbar li {float: left;}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {background-color: #111;}

ul.navbar li.right {
    float: right;
    background-color: rgb(64, 100, 57);
}

@media screen and (max-width: 600px) {
    ul.navbar {position: static;}
    ul.navbar li.right, 
    ul.navbar li {float: none;}
}

/* recipes styling */
.name {
  background-color: #eee;
  color: #333;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.name:hover {
  background-color: #ddd;
}

.recipe {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: #f9f9f9;
  padding: 0 16px;
}

.recipe.open {
  padding: 14px 16px;
}
